.DS_Store
.*.swp
Desktop.ini
Thumbs.db

# Ignore all dotfile/dotdir by default
/.*

# Bash stuff
!/.bash*
/.bash_history
/.bash_local
/.bash_logout
/.bash_profile
/.bash_sessions
!/.profile
!/.cygwin
!/.darwin
!/.mingw

# Git aliases, identification info
!/.gitconfig
!/.git-completion.bash
!/.git-prompt.sh
!/.gitignore

# Screen, tmux
!/.tmux.conf
!/.tmux
!/.tmux/*.yml

!/.vim
!/.vim/*
/.vim/.netrwhist
!/.vimrc


# Other
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/OneDrive\ -\ Clifton family
/Pictures
/Public
/Sites
/VMware

/certs
/emu
/go
/jenkins.ini
/sccache
/session-backup
/ssh

