.DS_Store
.*.swp
Desktop.ini
Thumbs.db
AppData
NTUSER.DAT*
ntuser.ini
MicrosoftEdgeBackups
AzureStorageEmulatorDb*

# Ignore all dotfile/dotdir by default
/.*

# Bash stuff
!/.bash*
/.bash_history
/.bash_local
/.bash_logout
/.bash_profile
/.bash_sessions
!/.profile
!/.cygwin
!/.darwin
!/.mingw

# Git aliases, identification info
!/.gitconfig_*
!/.git-completion.bash
!/.git-prompt.sh
!/.gitignore

# Screen, tmux
!/.tmux.conf
!/.tmux
!/.tmux/*.yml

!/.vim
!/.vim/*
/.vim/.netrwhist
!/.vimrc


# Other
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/OneDrive\ -\ Clifton family
/Pictures
/Public
/Sites
/VMware

/certs
/emu
/go
/jenkins.ini
/sccache
/session-backup
/ssh
/depot_tools
/depot_tools_tmp

# Windows
/source
/Favorites
/Links
/Searches
/ConEmu
!/ConEmu/ConEmu.xml
/*.log
/*.exe
/VirtualBox VMs
/WinMerge
/Applications
/chromium_auth.sh
